---
import { render, getCollection, type CollectionEntry } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}

/* interface Props {
  entry: CollectionEntry<"blog">;
}

 */ // 2. When it's time to render, you can get the entry directly from the prop
const post = Astro.props;
const { Content } = await render(post);
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={post.data.title} description={post.data.description} />
  </head>
  <body>
    <header>
      <Header />
    </header>
    <main>
      <article>
        <div
          class="article-header flex flex-col justify-center items-center bg-slate-200 p-25 text-shadow-black-900"
        >
          <div class="article-title">
            <h1>{post.data.title}</h1>
          </div>
          <div class="xxl">{post.data.description}</div>
          <div class="date-time lar">
            Updated on {
              new Date(post.data.publishDate).toLocaleDateString(undefined, {
                dateStyle: "medium",
                timeZone: "UTC",
              })
            }
          </div>
        </div>
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-2 bg-gradient"></div>
          <div class="col-span-10 main-content text-black-900 bg-white-50">
            <Content />
            <footer>
              <Footer />
            </footer>
          </div>
        </div>
      </article>
    </main>
  </body>
</html>

<style is:global>
  h1 {
    font-family: var(--font-solider);
  }

  p,
  h2 {
    font-family: var(--font-abordage);
  }
  h2,
  h1 {
    background-color: #212121;
    padding: 0.5em;
    color: #fafafa;
    max-width: fit-content;
    position: relative;
  }
  h2::after,
  h1::after {
    content: "";
    display: block;
    background-color: #212121;
    width: 100vw;
    height: 2px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 100%;
  }
</style>
