---
import { render, getCollection, type CollectionEntry } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}

interface Props {
  entry: CollectionEntry<"blog">;
}

// 2. When it's time to render, you can get the entry directly from the prop
const post = Astro.props;
const { Content } = await render(post);
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title="A Title" description="sssss" />
  </head>
  <body>
    <article>
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-2 bg-gradient"></div>

        <div class="col-span-10 main-content">
          <Content />
        </div>
      </div>
    </article>
  </body>
</html>

<style is:global>
  p,
  h2 {
    font-family: var(--font-abordage);
  }
  h2 {
    background-color: #000;
    padding: 0.5em;
    color: #fff;
    margin: auto;
  }
</style>
