---
import links from 'public/links.json'
import config from 'virtual:config'

import { Comment, LinkPreview } from 'astro-pure/advanced'
import { Collapse, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'

const headings = [
  { depth: 2, slug: 'sunshine-stitchers', text: 'Sunshine Stitchers' },
  { depth: 2, slug: 'catkin', text: 'Catkin and Lillie' },
  { depth: 2, slug: 'adelaide', text: 'Adelaide Stitches' },
  { depth: 2, slug: 'aussie', text: 'An Aussie and Kiwi go travelling' },
  { depth: 2, slug: 'blacksheepmeet', text: 'Blacksheepmeet' },
  { depth: 2, slug: 'cinema', text: 'cin3maticstitches' },
  { depth: 2, slug: 'bunny', text: 'Cross Stitch Bunny' },
  { depth: 2, slug: 'globe', text: 'Cross Stich the Globe' },
  { depth: 2, slug: 'enfys', text: 'Enfys' },
  { depth: 2, slug: 'helen', text: 'Helen D.' },
  { depth: 2, slug: 'charlie', text: 'Stitching with Charlie' },
  { depth: 2, slug: 'stuart', text: 'Stuart in Stitches' },
  { depth: 2, slug: '614-stitcher', text: 'The 614 Stitcher' }
]

const { friends } = links
const linksConf = config.integ.links
---

<PageLayout title="Who I'm Watching" {headings} info='/links'>
  This is a lit of my favorite Flosstubers! If you haven't, check them out. Let me know who I should
  watch in the comments.

  <h2 id='sunshine-stitchers'>Sunshine Stitchers</h2>
  <LinkPreview href='https://www.youtube.com/@SunshineStitchers' />
  <h2 id='catkin'>Catkin and Lillie</h2>

  <p>
    Kat also has a Patreon where you can chat with other cross stichers! I am am member and we are
    an international group i.e their are a few Americans there.
  </p>

  <p>
    <a href='https://www.patreon.com/catkinandlillie' target='_blank'>Catkin and Lillie Patreon</a>
  </p>

  <h3>YouTube</h3>
  <LinkPreview href='https://www.youtube.com/@catkinandlillie' />
  <h2 id='adelaide'>Adelaide Stitches</h2>
  <LinkPreview href='https://www.youtube.com/@adelaidestitches' />
  <h2 id='aussie'>An Aussie and Kiwi go travelling</h2>
  <LinkPreview href='https://www.youtube.com/@anaussieandkiwigotravelling' />
  <h2 id='blacksheepmeet'>Blacksheepmeet</h2>
  <LinkPreview href='https://www.youtube.com/@Blacksheepmeet' />
  <h2 id='cinema'>cin3maticstitches</h2>
  <LinkPreview href='https://www.youtube.com/@cin3maticstitches' />
  <h2 id='bunny'>Cross Stitch Bunny</h2>
  <LinkPreview href='https://www.youtube.com/@CrossStitchBunny' />
  <h2 id='globe'>Cross Stitch the Globe</h2>
  <LinkPreview href='https://www.youtube.com/@CrossStitchtheGlobe' />
  <h2 id='enfys'>Enfys</h2>
  <LinkPreview href='https://www.youtube.com/@sleepygoblincrafts' />
  <h2 id='helen'>Helen D.</h2>
  <LinkPreview href='https://www.youtube.com/@helend.flosstube' />
  <h2 id='charlie'>Stitching with Charlie</h2>
  <LinkPreview href='https://www.youtube.com/@stitchingwithcharlie' />
  <h2 id='stuart'>Stuart in Stitches</h2>
  <LinkPreview href='https://www.youtube.com/@stuartsinstitches' />
  <h2 id='614-stitcher'>The 614 Stitcher</h2>
  <LinkPreview href='https://www.youtube.com/@the614stitcher' />
  <Comment />
</PageLayout>
