---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead title="Home" description="From Math Anxiety to Math Confidence" />
  </head>

  <body>
    <h1>Suzza Stitches</h1>
    <p>The five boxing wizards jump quickly</p>
  </body>
</html>

<style>
  h1 {
    font-family: var(--font-solider);
  }
  p {
    font-family: var(--font-abordage);
  }
</style>
