---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead title="Home" description="A blog about cross stitch" />
  </head>

  <body class="bg-gradient">
    <Header />
    <h1>Suzza Stitches</h1>
    <p>The five boxing wizards jump quickly</p>
    <Footer />
  </body>
</html>

<style>
  h1 {
    font-family: var(--font-solider);
  }
  p {
    font-family: var(--font-abordage);
  }
</style>
