<div class="flex flex-row justify-center items-center bg-transparent">
  <div>
    &copy; <span id="copy"></span> by Suzza silver
  </div>
  <div></div>
</div>

<script>
  const copyElement = document.querySelector("#copy");

  if (copyElement !== null) {
    (copyElement as HTMLElement).textContent = new Date()
      .getFullYear()
      .toString();
  } else {
    console.error('Element with ID "copy" not found.');
  }
</script>
